body{
  margin: 0px;
  margin: auto;
  background-color: #FDE7A3;
  }
.btn-success{
    background: #575ed8;
    color: #fff;
    font-size: 300px;
    border: 0;
    padding: 32px 400px;
    width: 100%;
    height:20%
    border-radius: 0 0 2px 2px;
    height: 300px;

}

#send {
  color:white;
font-size:5em;
font-weight:700;
}

.btn-danger{

      font-size: 70px;
  width: 100%;
    height: 150px;
}
.btn-warning{
  margin-top:7px;
  width: 100%;
    height: 143px;
}
.panel{
  margin-left:20px;
  margin-right: 20px;

}
.counter{
  padding:1%;
}
p{
  font-size: 150px;
}
.img{
  height:57px;
}

#decrement {
  border: #FF9F1C solid 4px;
background-color: #FF9F1C;
color:white;
font-size:3em;
font-weight:700;
}

#reset {
  border: #D90429 solid 4px;
background-color: #D90429;
color:white;
font-size:3em;
font-weight:700;
}

.logo {
  width: 80%;
  margin: 2em 2em 2em 2em;
     display: flex;
  flex-direction: column;
}
img {
  width: auto;
  height: 4em;
}



@media only screen and (max-width: 1050px) {


.logo {
  width: 80%;
     display: flex;
  flex-direction: column;
  margin-bottom: 13em;
}


img {
  width: 90%;
  height: auto;
  margin-left: 5%;
}

.count {
  background-color: #FDF4CA;
  border-radius: 10%;
  display: flex;
    justify-content: center;
  width: 40em;
  margin: auto;
  height: auto;
  margin-bottom: 15em;
}


p {
  font-size: 20em;
  color: #D90429;
}

}