body{
  margin: 0px;
  margin: auto;
  background-color: #FDE7A3;
  }
.btn-success{
    background: #575ed8;
    color: #fff;
    font-size: 300px;
    border: 0;
    padding: 32px 400px;
    width: 100%;
    height:20%
    border-radius: 0 0 2px 2px;
    height: 300px;
font-size: 500%;
}
.btn-danger{

      font-size: 70px;
  width: 100%;
    height: 150px;
}
.btn-warning{
  margin-top:7px;
  width: 100%;
    height: 143px;
}
.panel{
  margin-left:20px;
  margin-right: 20px;

}
.counter{
  padding:1%;
}
p{
  font-size: 150px;
}
.img{
  height:57px;
}
.logo{
  height: 20%;
  width: 20%;
  height: auto;
  margin: 2em;

}
